/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url("car.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center center;
}

.field{
  color: white;
  text-align: center;
}

.navbar{
color: white;
font-family: "Fugaz One", cursive;
font-size: larger;
top: 0;
width: 100%;
margin-bottom: 20px;
/* position: absolute; */
}

h2{
  color: white;
}

.nav-link{
  color: black !important;
}

@media only screen and (max-width: 600px) {

}
